 

 <div class="flip-container" ontouchstart="this.classList.toggle('hover');"
       ng-mouseover="feed.showButtons = true" ng-mouseleave="feed.showButtons = false">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
            <!-- <img src="{{post.thumbnail}}" class="feed-preview-img" alt="feed"> -->
      
            <div class="feed " >
              <div ng-switch on="post.postType" class="pull-right">
                <img src="/images/youtube.png" alt="youtube" class="favicon"  ng-switch-when="youtube">
                <img src="/images/rss.png" alt="rss" class="favicon"  ng-switch-when="rss">
                <img src="/images/twitter.png" alt="twitter" class="favicon"  ng-switch-when="twitter">
                <img src="/images/reddit.png" alt="reddit" class="favicon"  ng-switch-when="reddit">

                
                <!-- <img src="{{feed._source.thumbnail2}}" class="img-thumbnail " alt="feed"> -->
              </div>
              
              <a href="{{post.link}}"><strong>{{post.title}}</strong></a>
              <ul class="feed-details-list margin-top-sm">
                
                <li ng-switch on="post.thumbnail">
                  
                  <img ng-switch-when="" src="/images/reddit.png" alt="" class="thumbnail-preview">
                  <img ng-switch-when="self" src="/images/reddit.png" alt="" class="thumbnail-preview">
                  <img ng-switch-when="default" src="/images/reddit.png" alt="" class="thumbnail-preview">
                  <img ng-switch-default src="{{post.thumbnail}}" alt="" class="thumbnail-preview">
                  <a embed="" href="#">Show</a>
                </li>
                
                <li><p>{{post.redditUpvotes}} | {{post.redditDownVotes}}</p></li>
                <li><a href="#/comments/{{post.redditId}}">{{post.numberOfComments}} comments</a></li>
                <li><a href="http://www.reddit.com/r/comments/{{post.redditId}}">View comments on reddit</a></li>
                <!-- <li><img src="/images/reddit.png" alt="Reddit Post"></li> -->
                <li><p>Posted {{post.posted | timestamp}}</p></li>
                <li><p>by {{post.author}}</p></li>
              </ul>
              
<!--               <div style="height:35px">

                  <a href="#/feed/{{feed._id}}" class="btn btn-primary margin-right pull-right" >View</a>
                  <a href="#/feed/{{post}}" class="btn btn-primary margin-right pull-right" >Info</a>
                </div> -->
              </div>
            </div>
          </div>

        </div>
      </div>