<!-- <ul class="list-style-none feed-details-list">
  <li><a href="" ng-click="getFeedByType('all')">All</a></li>
  <li><a href="" ng-click="getFeedByType('rss')">RSS</a></li>
  <li><a href="" ng-click="getFeedByType('reddit')">Reddit</a></li>
  <li><a href="" ng-click="getFeedByType('youtube')">Youtube</a></li>
  <li><a href="" ng-click="getFeedByType('twitter')">Twitter</a></li>
</ul>

<div>
  <ol>
    <li ng-repeat="feed in feeds">
      <a href="#/feed/{{feed.id}}"><strong>{{feed.title}}</strong></a>
      <ul class="feed-details-list">
        <li><p>{{feed.upvotes}}</p></li>
        <li><p>{{feed.feedType}}</p></li>
        <li><a href="#/user/{{feed.submitterId}}">{{feed.submitter}}</a></li>
<li><a href="#" class="btn btn-primary btn-sm" id="{{feed.id}}" follow="">Follow Feed</a></li>
      </ul>
    </li>
  </ol>
</div> -->

<!-- <ul class="list-style-none">
<li class="margin-top-sm">
    <a href="" ng-class="{active: showFilter}" ng-click="showFilter = !showFilter">
      <strong>Filter feeds</strong>
    </a href="">
  </li>

  <li class="margin-top-sm"><p>Followed feeds</p></li>
  <li class=""><strong>Feeds</strong></li>
  <li ng-repeat="feed in feeds | filter: {feedType: feedFilter}" class="margin-top-sm">
    <a href="#/feed/{{feed.id}}">{{feed.title}}</a>
    <p>{{feed.link}}</p>
    <p>{{feed.feedType}}</p>
  </li>
</ul> -->

<div class="row">
  <ul class="list-style-none">
    <!-- <li ng-repeat="feed in feeds | filter: {feedType: feedFilter} | filter:search:strict" class="col-md-4"> -->
    <li ng-repeat="feed in feeds | filter: {feedType: feedFilter}" class="col-md-12">
    <div class="feed">

        <!--<a href="#/feed/{{feed._id}}"><strong>{{feed._source.title}}</strong></a>
         <ul class="feed-details-list">
          <li><p>{{feed.upvotes}}</p></li>

          <li><a href="#/user/{{feed._source.submitterId}}">{{feed._source.submitter}}</a></li>
        </ul>
        <ul class="feed-details-list">
          <li><a href="#/feed/{{feed._id}}" class="" >View</a></li>
          <li><a href="#" class="" id="{{feed._id}}" title="{{feed._source.title}}" type="{{feed._source.feedType}}" add="">Add</a></li>
        </ul> -->

        <!-- <div class="text-center ng-scope">
          <h3 class="margin-top-none ng-binding">{{feed._source.title}}</h3>
          <p><strong class="ng-binding"><span><a class="linkclass" href="http://www.reddit.com/r/GetMotivated">http://www.reddit.com/r/GetMotivated</a></span></strong></p>
        
          <ul class="feed-details-list">
            <li><p class="ng-binding">1</p></li>
            <li><p class="ng-binding">reddit</p></li>
            <li ng-switch on="feed._source.feedType">
              <img src="/images/youtube.png" alt="youtube" ng-switch-when="youtube">
              <img src="/images/rss.png" alt="rss"  ng-switch-when="rss">
              <img src="/images/twitter.png" alt="twitter"  ng-switch-when="twitter">
              <img src="/images/reddit.png" alt="reddit"  ng-switch-when="reddit">
            </li>
            <li><a href="#/user/" class="ng-binding"></a></li>
            <li><a href="#" class="btn btn-primary btn-sm" id="27891" follow="">Follow Feed</a></li>
          </ul>
        </div> -->

        <div class="text-center">

          <div class="row">
            <div class="col-md-2">
              <p style="font-size:2.3em; text-weight:300; margin-top:28px">{{feed._source.upvotes}}</p>
            </div>
            <div class="col-md-8">
              <a href="#/feed/{{feed._id}}"><h3 class="margin-top-none">{{feed._source.title}}</h3></a>
              <p><strong>{{feed._source.feedUrl}}</strong></p>

              <ul class="feed-details-list">
                
                
                <li><a href="#/user/{{feed.submitterId}}">{{feed._source.submitter}}</a></li>
                <li><a href="#" class="btn btn-primary" id="{{feed._id}}" title="{{feed._source.title}}" type="{{feed._source.feedType}}" add="">Add</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <div ng-switch on="feed._source.feedType" class="margin-top">
                <img src="/images/youtube.png" alt="youtube" ng-switch-when="youtube">
                <img src="/images/rss.png" alt="rss"  ng-switch-when="rss">
                <img src="/images/twitter.png" alt="twitter"  ng-switch-when="twitter">
                <img src="/images/reddit.png" alt="reddit"  ng-switch-when="reddit">
              </div>
            </div>
          </div>
          
          
        </div>

      </div>
    </li>


  </ul>
</div>

<!-- <div class="text-center">
          
          <a href="#/feed/{{feed._id}}"><h3 class="margin-top-none">{{feed._source.title}}</h3></a>
          <p><strong>{{feed._source.feedUrl}}</strong></p>

          <ul class="feed-details-list">
            <li><p>{{feed._source.upvotes}}</p></li>
            <li ng-switch on="feed._source.feedType">
              <img src="/images/youtube.png" alt="youtube" ng-switch-when="youtube">
              <img src="/images/rss.png" alt="rss"  ng-switch-when="rss">
              <img src="/images/twitter.png" alt="twitter"  ng-switch-when="twitter">
              <img src="/images/reddit.png" alt="reddit"  ng-switch-when="reddit">
            </li>
            <li><a href="#/user/{{feed.submitterId}}">{{feed._source.submitter}}</a></li>
            <li><a href="#" class="btn btn-primary" id="{{feed._id}}" title="{{feed._source.title}}" type="{{feed._source.feedType}}" add="">Add</a></li>
          </ul>
        </div>
 -->