<!-- <ul class="list-style-none feed-details-list">
  <li><a href="" ng-click="getFeedByType('all')">All</a></li>
  <li><a href="" ng-click="getFeedByType('rss')">RSS</a></li>
  <li><a href="" ng-click="getFeedByType('reddit')">Reddit</a></li>
  <li><a href="" ng-click="getFeedByType('youtube')">Youtube</a></li>
  <li><a href="" ng-click="getFeedByType('twitter')">Twitter</a></li>
</ul>

<div>
  <ol>
    <li ng-repeat="feed in feeds">
      <a href="#/feed/{{feed.id}}"><strong>{{feed.title}}</strong></a>
      <ul class="feed-details-list">
        <li><p>{{feed.upvotes}}</p></li>
        <li><p>{{feed.feedType}}</p></li>
        <li><a href="#/user/{{feed.submitterId}}">{{feed.submitter}}</a></li>
<li><a href="#" class="btn btn-primary btn-sm" id="{{feed.id}}" follow="">Follow Feed</a></li>
      </ul>
    </li>
  </ol>
</div> -->

<!-- <ul class="list-style-none">
<li class="margin-top-sm">
    <a href="" ng-class="{active: showFilter}" ng-click="showFilter = !showFilter">
      <strong>Filter feeds</strong>
    </a href="">
  </li>

  <li class="margin-top-sm"><p>Followed feeds</p></li>
  <li class=""><strong>Feeds</strong></li>
  <li ng-repeat="feed in feeds | filter: {feedType: feedFilter}" class="margin-top-sm">
    <a href="#/feed/{{feed.id}}">{{feed.title}}</a>
    <p>{{feed.link}}</p>
    <p>{{feed.feedType}}</p>
  </li>
</ul> -->

<div class="row">
  <ul class="list-style-none">
    <li ng-repeat="feed in feeds | filter: {feedType: feedFilter} | filter:search:strict" class="col-md-4 ">
      <a href="#/feed/{{feed.id}}"><strong>{{feed.title}}</strong></a>
      <ul class="feed-details-list">
        <li><p>{{feed.upvotes}}</p></li>
        <li><p>{{feed.feedType}}</p></li>
        <li><a href="#/user/{{feed.submitterId}}">{{feed.submitter}}</a></li>
        <li><a href="#" class="" id="{{feed.id}}" title="{{feed.title}}" type="{{feed.feedType}}" add="">Add</a></li>
      </ul>
    </li>
  </ul>
</div>