
<div class="text-center">
	<h3 class="margin-top-none">{{feed.title}}</h3>
	<p><strong>{{feed.feedUrl}}</strong></p>

	<ul class="feed-details-list">
		<li><p>{{feed.upvotes}}</p></li>
		<li><p>{{feed.feedType}}</p></li>
		<li><a href="#/user/{{feed.submitterId}}">{{feed.submitter}}</a></li>
		<li><a href="#" class="btn btn-primary" id="{{feed.id}}" data-follow="">Follow Feed</a></li>
	</ul>
</div>
<!-- <ul class="list-style-none feed-details-list text-center">
  <li><a href="" ng-click="sortFeed('Hot')">Hot</a></li>
  <li><a href="" ng-click="sortFeed('Top')">Top</a></li>
  <li><a href="" ng-click="sortFeed('New')">New</a></li>
</ul>
 -->

<div ng-include src="'views/posts.html'"></div>


<!-- <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->

