<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">CollectionsFrontEnd</h3>
</div> -->
<div class="spinner" ng-show="loading"></div>

<h3 class="margin-top-none">Find some feeds to follow</h3>
<p><strong>Feed upvoted by the community. Think reddit meets feeds.</strong></p>

<!-- <ul class="list-style-none feed-details-list text-center">
  <li><a href="" ng-click="sortFeed('Hot')">Hot</a></li>
  <li><a href="" ng-click="sortFeed('Top')">Top</a></li>
  <li><a href="" ng-click="sortFeed('New')">New</a></li>
</ul> -->

<div ng-include src="'views/feeds.html'"></div>

<!-- <div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->
