<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">CollectionsFrontEnd</h3>
</div> -->
<div class="spinner" ng-show="loading"></div>

<h3 class="margin-top-none">Find some feeds to follow</h3>
<p><strong>Feed upvoted by the community. Think reddit meets feeds.</strong></p>

<!-- <ul class="list-style-none feed-details-list text-center">
  <li><a href="" ng-click="sortFeed('Hot')">Hot</a></li>
  <li><a href="" ng-click="sortFeed('Top')">Top</a></li>
  <li><a href="" ng-click="sortFeed('New')">New</a></li>
</ul> -->

<ul class="list-style-none feed-details-list">
  <li><a href="" ng-click="getFeedByType('all')">All</a></li>
  <li><a href="" ng-click="getFeedByType('rss')">RSS</a></li>
  <li><a href="" ng-click="getFeedByType('reddit')">Reddit</a></li>
  <li><a href="" ng-click="getFeedByType('youtube')">Youtube</a></li>
  <li><a href="" ng-click="getFeedByType('twitter')">Twitter</a></li>
</ul>

<div>
  <ol>
    <li ng-repeat="feed in feeds">
      <a href="#/feed/{{feed.id}}"><strong>{{feed.title}}</strong></a>
      <ul class="feed-details-list">
        <li><p>{{feed.upvotes}}</p></li>
        <li><p>{{feed.feedType}}</p></li>
        <li><a href="#/user/{{feed.submitterId}}">{{feed.submitter}}</a></li>
        <li><a href="#" class="btn btn-primary btn-sm" id="{{feed.id}}" data-follow="">Follow Feed</a></li>
      </ul>
    </li>
  </ol>
</div>

<!-- <div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->
