/*Generic*/

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

h1,h2,h3,h4,h5,h6, p, a {
  font-family: 'Lato', sans-serif;
  /*font-weight: bold;*/
  text-rendering: optimizelegibility;
  color: #34495e;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 40px;
  font-weight: 300;
}

h4 {
  font-size: 29px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 24px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7em;
  text-rendering: optimizelegibility;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.spinner {
  height: 50px
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: red;
}


.btn-primary {
  background-color: #1abc9c !important;
  border: none;
}

.btn-primary:hover {
  background-color: #16a085 !important;
}


.post {
  margin-top:28px;
}

/*Util*/
.list-style-none {
  list-style: none;
  padding: 0;
}

.margin-top {
  margin-top: 28px;
}

.margin-top-lg {
  margin-top: 48px;
}

.fixed {
  position: fixed;
}



.feed-list-user p {
  padding: 0;
  /*margin: 0;*/
}

/*.feed-list-user li {
  margin-top: 12px;
}
*/
.feed-details-list {
  list-style: none;
  padding: 0;
}

.feed-details-list > li {
  display: inline-block;
  padding-left: 8px;
}



 
.view-animate {
  padding:10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.view-animate.ng-enter, .view-animate.ng-leave {
  background-color:red;
  margin-top: 100px;

}
 
.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}