<ol class="list-style-none margin-top" masonry="" load-images="true">

	<li ng-repeat="post in posts | orderBy:'score':true" 
		class="animate-repeat  ">
		<div ng-switch on="post.postType" >
			<div ng-switch-when="collection" >
				<div ng-include src="'views/tileView/collectionTile.html'" ></div>
			</div>
			<div ng-switch-when="youtube" class="masonry-brick tile-width" >
				<div ng-include src="'views/tileView/youtubeTile.html'" ></div>
			</div>
			<div ng-switch-when="rss" class="masonry-brick" style="width:16%" >
				<div ng-include src="'views/tileView/rssTile.html'"></div>
			</div>
			<div ng-switch-when="twitter" class="masonry-brick" style="width:16%">
				<div ng-include src="'views/tileView/twitterTile.html'"></div>
			</div>
			<div ng-switch-when="reddit" class="masonry-brick" style="width:31%" >
				<div ng-include src="'views/tileView/redditTile.html'" ></div>
			</div>
		</div>
		
	</li>
</ol>